  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">

<ul>
{{#each data}}
<li value="{{this._id}}" class="list-group-item">
  <img src="{{this.pic}}" alt="Photo">
  <h4>{{this.title}}</h4>
  <p>{{this.summary}}</p>
  <a href="https://www.nytimes.com{{this.link}}">link to full story</a>
  <form action="/comment" method="POST" class="commentSection">
      <input type="text" name="user" placeholder="Your Name">
      <input type="text" name="comment" placeholder="What Do You Have To Say?">
      <input type="hidden" value={{this._id}} name="postId" class="postId">
      <input type="submit">
  </form>
  <ul>
    {{#each comment}}
    <li>
    <span>{{this.user}}</span><br>
    <span>{{this.comment}}</span>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}
</ul>